body{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
  }
  .col {
    border-color: brown
  }

  .nav-link {
    display: block;
    transform: scale(1.0);
    margin-right: 5px;
    margin-left: 5px;
    transition-property: transform, margin-right !important;
    transition-duration: .4s !important;
    transform-origin: left !important;
    transition-timing-function: ease-out;
  }

  .nav-link:hover {
    transform: scale(1.2);
    margin-right: 25px;
  }
  .card-img-top {
    height: 450px; 
    object-fit: cover;
    transition-property: height !important;
    transition-duration: 1.0s;
  }
  .card-img-top:hover {
    height: 525px; 
  }
  .row{
    margin-top: 50px !important;
  }
  .card{
    width:22rem;
    background-color: rgba(255, 255, 255, 0.80) !important;
    transition-property: width !important;
    transition-duration: 1.0s;
  }
  .card:hover{
    width: 29rem;
  }
  .col{
    padding-bottom: 50px;
    object-position: center;
  }
  .c{
    display: grid;
    place-items: center;
  }
  .navbar-brand{
    padding-left: 5px;
  }